.index-container {
  p,
  h1,
  h2,
  h3,
  h4,
  h4,
  h6 {
    color: #fff;
  }
}

.section-hero {
  background-color: teal;
  position: relative;
  z-index: 10;
  width: 100%;
  padding: 1rem;
  min-height: 40vh;
}

.section-jamstack {
  background-color: teal;
}
