.colophon {
  min-height: 10vh;
  color: #fff;
  background-color: cadetblue;
  // background-image: url('../images/kindajean.png');
  position: relative;
  text-align: center;
  //   margin-top: -25px;
}

.container {
  max-width: 960px;
  padding: 1rem;
  margin: 0 auto;
}

.credits {
  bottom: 1px;
}

.link {
  text-decoration: none;
  color: white;
}
