.page-wrap {
    width: 100vw;
    padding: 1rem;
}

.section {
    margin: 0 auto;
    max-width: 960px;
    padding: 0 1.0875rem 1.45rem;
}

.section-main {
    padding-top: 10vw;
}

.section-outer--blue {
    width: 100vw;
    background-color: cornflowerblue;
    color: #fff;
    margin-bottom: 0;
    padding: 0 1.0875rem 1.45rem;
}